- expanded = integration_expanded?('eks_')
%section.settings.as-eks.no-animate#js-eks-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Amazon EKS')
    = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
      = expanded ? _('Collapse') : _('Expand')
    %p
      = _('Amazon EKS integration allows you to provision EKS clusters from GitLab.')

  .settings-content
    = gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-eks-settings'), html: { class: 'fieldset-form', id: 'eks-settings' } do |f|
      = form_errors(@application_setting)

      %fieldset
        .form-group
          = f.gitlab_ui_checkbox_component :eks_integration_enabled,
            _('Enable Amazon EKS integration')
        .form-group
          = f.label :eks_account_id, _('Account ID'), class: 'label-bold'
          = f.text_field :eks_account_id, class: 'form-control gl-form-input'
        .form-group
          = f.label :eks_access_key_id, _('AWS access key ID (Optional)'), class: 'label-bold'
          = f.text_field :eks_access_key_id, class: 'form-control gl-form-input'
          .form-text.text-muted
            = _('Only required if not using role instance credentials.')

        .form-group
          = f.label :eks_secret_access_key, _('AWS secret access key (Optional)'), class: 'label-bold'
          = f.password_field :eks_secret_access_key, autocomplete: 'off', class: 'form-control gl-form-input'
          .form-text.text-muted
            = _('Only required if not using role instance credentials.')

      = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
